*{
    color: #0F2244;
    transition: 0.05s;
    outline: none;
    letter-spacing: 1px;
    list-style-type: none;
    text-decoration: none;
}

/* Global styles */

.navbar-custom{
    background-color: #295662;
}

.navbar .offcanvas-title, 
.offcanvas .fa{
    color: grey;
}

.navbar .nav-link{
    margin: 10px 0;
}

.navbar .nav-link .fa{
    color: grey;
    margin-right: 20px;
}

.navbar .offcanvas-header{
    padding: 30px;
    cursor: pointer;
}

.offcanvas .fa-close{
    color: red;
    font-size: 20px;
}

.navbar .offcanvas-body{
    padding: 40px;
}

.navbar .form-control{
    border: none;
    color: gray;
    padding-right: 50px;
    border-radius: 10px;
    background: darkgrey;
    border-bottom: 2px solid #0641a7;
}

.navbar .search-form{
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar .search-btn{
    margin-left: -60px;
    background: none;
}

.active{
    color: #3A6AFD;
}

.navbar .socials{
    width: 50%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

/* Home page styles */

.banner{
    z-index: 1;
    height: 620px;
    display: flex;
    padding: 10px;
    color: white;
    align-items: center;
    position: relative;
    background-size: cover;
    justify-content: center;
    background-position: center;
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
    url(../images/banner.jpg) center;
}

.banner h1{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
}

.banner h2{
    color: #fff;
    font-size: 30px;
}

.banner h5{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 60px;
}

.btn{
    margin-right: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-primary{
    background: #3A6AFD;
}

.btn-secondary{
    background: #141A41;
}

.summary-info-wrap{
    background: #242834;
    padding: 20px;
}

.testimonial-item, .summary-info-item{
    width: 100%; 
    height: 100px; 
    position: "relative";
    display: flex;
    align-items: center;
    margin: 15px 0;
    border-bottom: 1px dotted #0F2244;
}

.testimonial-item{
    height: auto;
}

.testimonial-icon, .summary-info-icon{
    width: 10px;
    height: 100px;
    margin-right: 30px;
    border-radius: 10px;
    background: #3A6AFD;
}

.testimonial-icon{
    height: 250px;
}

.summary-info-item h3{
    color: #fff;
    font-size: 24px;
}

.why-choose-us, .what-we-offer,
.our-mission{
    z-index: 1;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 0 20px 70px 20px;
    background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
    url(../images/what-we-offer-back.gif) center;
}

.why-choose-us, 
.our-mission{
    background:linear-gradient(rgba(24, 25, 30, 0.90), rgba(24, 25, 30, 0.90)), 
    url(../images/why-choose-us-back.png) center;
}

.tag{
    width: 220px;
    padding: 7px 15px;
    text-align: center;
    margin-bottom: 50px;
    background: #D9D9D9;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

main p{
    color: #fff;
    font-size: 17px;
    margin-bottom: 30px;
}

main strong{
    color: #fff;
}
main small{
    color: #939393;
}   

.why-choose-item{
    display: flex;
    margin: 10px 0;
    align-items: start;
}

.why-choose-item strong{
    color: #fff;
}

.why-choose-item img{
    margin-right: 15px;
}

.our-products, .our-services,
.core-values{
    background: #000;
    padding: 0 10px 70px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-services{
    background-color: #242834;
}

.our-services .card{
    background: #000;
    color: white;
    border: none;
}

.our-services .card li{
    color: white;
    font-size: 14px;
    list-style-type: disc;
}

.our-services .card-body{
    padding: 30px 20px;
}

.product-container, 
.core-values-container{
    width: 100%;
    margin: 50px 0;
}

.product-item, .service-item{
    display: flex;
    justify-content: center;
}

.our-products .tag, 
.our-clients .tag,
.core-values .tag{
    margin: 0 auto;
}


.product-card {
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(100deg, #feffff, #c6daff, #bad2ff, #bfffe7, #feffff);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 26px;
    font-weight: bold;
}

.card-header img {
    width: 85px;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
}

.card-header {
    display: flex;
    align-items: top;
}

.card-description {
    color: #000;
    margin-top: 20px;
}


.testimonials{
    background: #242834;
    padding: 0 20px 50px 20px;
}

.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.our-clients{
    background: #000;
}

.our-clients .container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.our-clients img{
    border: 1px solid #939393;
    padding: 10px 30px;
    margin: 5px auto;
    border-radius: 5px;
}

.what-we-offer, .our-mission,
.why-choose-us, .banner{
    background-attachment: fixed;
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 20px; 
    background: #3A6AFD; 
  }
  
  #myBtn:hover {
    background-color: #898989; /* Add a dark-grey background on hover */
    transition: 0.5s;
  }

  .core-value-item{
    display: flex;
    align-items: top;
    margin: 10px 0;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

.core-value-item h3{
    padding: 20px;
    margin: 20px 0;
    border-left: 6px solid #3A6AFD;
    border-radius: 5px;
}


/*About page styles*/

.header{
    height: auto;
    padding: 50px 10px;
    background: #000;
    margin-top: 70px;
    color: #fff;
}

.about-banner{
    background: #242834;
    display: flex;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
}

.about-banner article{
    margin: 0 auto;
    text-align: center;
}

.about-banner article p{
    color: #fff;
    text-align: left;
    margin: 30px 0;
}


/*Contact page styles*/

.contact-wrap, .product-wrap{
    padding: 50px 0;
    background: #242834;
}

.contact-wrap h3{
    color: #fff;
    margin-bottom: 30px
} 

.contact-wrap .fa{
    color: #898989;
    font-size: 24px;
    margin-right: 20px;
}

.contact-wrap p{
    color: #939393;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.contact-wrap form{
    background: white;
    padding: 30px 20px;
    border-radius: 10px;
}

.contact-container{
   padding: 20px;
}


/*Footer styles*/

footer{
    padding: 60px 20px;
    background: #242834;
}

footer .col-md-4{
    margin-bottom: 30px;
}

footer h4{
    width: 200px;
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #0641a7;
    border-radius: 10px;
    margin-bottom: 30px;
}

hr{
    color: #939393;
}

footer h5{
    color: #fff;
}

footer .fa{
    color: #939393;
}

footer p, p a{
    color: #939393;
    text-decoration: none;
}

footer p{
    margin-left: 10px;
}

footer .socials span{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-left: 10px;
}

/* Style for scroll animation */
.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  /* Animation class to be added when element is in viewport */
  .animated {
    opacity: 1;
    transform: translateY(0);
  }



  /*Media queries for mobile*/

@media (min-width:768px) {

    .banner{
        height: 750px;
    }

    .container{
        width: 700px;
    }

    .our-clients .container{
        grid-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }
}


/*Media queries for tablet and laptop*/

@media (min-width:1000px) {

    .banner{
        height: 600px;
    }

    .header{
        padding: 20px;
    }

    .header p{
        width: 65%;
    }

    .about-banner{
        padding: 100px 20px;
    }
    
    .about-banner article{
        display: grid;
        grid-gap: 40px;
        text-align: left;
        grid-template-columns: 200px 1fr;
    }

    .about-banner p{
        width: 70%;
    }

    .summary-info-wrap .container{
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 20px;
    }

    .container{
        width: 100%;
    }

    .contact-wrap p{
        font-size: 16px;
    }

    .what-we-offer p, 
    .our-mission p{
        width: 70%;
    }

    .why-choose-us section, 
    .testimonials section{
        width: 90%;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .socials .fa:hover{
        color: #3A6AFD;
    }

    footer p a:hover{
        color: #0641a7;
    }
}


/*Media queries for desktop
@media (min-width:1200px) {

    .banner{
        height: 85vh;
    }

}
*/

