*{
    color: #0F2244;
    transition: 0.05s;
    outline: none;
    letter-spacing: 1px;
    list-style-type: none;
    text-decoration: none;
}

.navbar-custom{
    background-color: #295662;
}

.navbar .offcanvas-title, 
.offcanvas .fa{
    color: grey;
}

.navbar .nav-link{
    margin: 10px 0;
}

.navbar .nav-link .fa{
    color: grey;
    margin-right: 20px;
}

.navbar .offcanvas-header{
    padding: 30px;
    cursor: pointer;
}

.offcanvas .fa-close{
    color: red;
    font-size: 20px;
}

.navbar .offcanvas-body{
    padding: 40px;
}

.navbar .form-control{
    margin-right: 100px;
    background: darkgrey;
    border: none;
    color: gray;
    border-radius: 10px;
    border-bottom: 2px solid #0641a7;
}

.navbar .form-control-wrap{
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar .form-control-wrap 
.search-btn{
    background: none;
    border: none;
}

.active{
    color: #3A6AFD;
}

.navbar .socials{
    width: 50%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 620px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
}

.about-header{
    height: 120px;
    padding: 10px;
    background: #000;
    margin-top: 70px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
}

.about-banner{
    background: #242834;
    display: flex;
    padding: 40px 20px;
    align-items: center;
    justify-content: center;
}

.about-banner article{
    margin: 0 auto;
    text-align: center;
}

.about-banner article p{
    color: #fff;
    text-align: left;
    margin: 30px 0;
}

.banner h1{
    color: #fff;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
}

.banner h5{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 60px;
}

.btn{
    margin-right: 20px;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}

.btn-primary{
    background: #3A6AFD;
}

.btn-secondary{
    background: #141A41;
}

.summary-info-wrap{
    background: #242834;
    padding: 20px;
}

.testimonial-item, .summary-info-item{
    width: 100%; 
    height: 100px; 
    position: "relative";
    display: flex;
    align-items: center;
    margin: 15px 0;
    border-bottom: 1px dotted #0F2244;
}

.testimonial-item{
    height: auto;

}

.testimonial-icon, .summary-info-icon{
    width: 10px;
    height: 100px;
    margin-right: 30px;
    border-radius: 10px;
    background: #3A6AFD;
}

.testimonial-icon{
    height: 250px;
}

.summary-info-item h3{
    color: #fff;
    font-size: 24px;
}

.why-choose-us, .what-we-offer,
.our-mission{
    background-image: url(../images/what-we-offer-back.gif);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 0 20px 70px 20px;
    position: relative;
    z-index: 1;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(36, 40, 52, 0.80);
        z-index: -1;
    }
}

.why-choose-us, 
.our-mission{
    background: url(../images/why-choose-us-back.png);
    &:before {
        content: "";
        background-color: rgba(24, 25, 30, 0.90);
    }
}

.tag{
    width: 220px;
    padding: 7px 15px;
    text-align: center;
    margin-bottom: 50px;
    background: #D9D9D9;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

main p{
    color: #fff;
    font-size: 17px;
    margin-bottom: 30px;
}

main strong{
    color: #fff;
}
main small{
    color: #939393;
}   

.why-choose-item{
    display: flex;
    margin: 10px 0;
    align-items: start;
}

.why-choose-item strong{
    color: #fff;
}

.why-choose-item img{
    margin-right: 15px;
}

.our-products, .core-values{
    background: #000;
    padding: 0 10px 70px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-container, 
.core-values-container{
    width: 90%;
    margin: 50px 0;
}

.product-item{
    display: flex;
    justify-content: center;
}

.our-products .tag, 
.our-clients .tag,
.core-values .tag{
    margin: 0 auto;
}

.our-products .card{
    border-radius: 15px;
    background: linear-gradient(100deg, #feffff, #c6daff, #bad2ff, #bfffe7, #feffff);
}

.our-products .card h1{
    font-weight: bolder;
    font-size: 18px;
}

.our-products .card-header{
    background: #3A6AFD ;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.our-products .card p{
    color: #242834;
}

.our-products .card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.testimonials{
    background: #242834;
    padding: 0 20px 50px 20px;
}

.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.our-clients{
    background: #000;
}

.our-clients .container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.our-clients img{
    border: 1px solid #939393;
    padding: 10px 30px;
    margin: 5px auto;
    border-radius: 5px;
}

.what-we-offer, .our-mission,
.why-choose-us, .banner{
    background-attachment: fixed;
}


#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    font-size: 20px; 
    background: #3A6AFD; 
  }
  
  #myBtn:hover {
    background-color: #898989; /* Add a dark-grey background on hover */
    transition: 0.5s;
  }

  .core-value-item{
    display: flex;
    align-items: top;
    margin: 10px 0;
    color: #fff;
    flex-direction: column;
    justify-content: center;
}

.core-value-item h3{
    padding: 20px;
    margin: 20px 0;
    border-left: 6px solid #3A6AFD;
    border-radius: 5px;
}

footer{
    padding: 60px 20px;
    background: #242834;
}

footer .col-md-4{
    margin-bottom: 30px;
}

footer h4{
    width: 200px;
    color: #fff;
    padding: 10px;
    border-bottom: 2px solid #0641a7;
    border-radius: 10px;
    margin-bottom: 30px;
}

hr{
    color: #939393;
}

footer h5{
    color: #fff;
}

footer .fa{
    color: #939393;
}

footer p, p a{
    color: #939393;
    text-decoration: none;
}

footer p{
    margin-left: 10px;
}

footer .socials span{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-left: 10px;
}

/* Style for summary info items */
.scroll-animation {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  /* Animation class to be added when element is in viewport */
  .animated {
    opacity: 1;
    transform: translateY(0);
  }



@media (min-width:768px) {

    .banner{
        height: 750px;
    }

    .container{
        width: 700px;
    }

    .our-clients .container{
        grid-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width:1000px) {

    .banner{
        height: 550px;
    }

    .about-header{
        padding: 20px;
    }

    .about-banner{
        padding: 100px 20px;
    }
    
    .about-banner article{
        display: grid;
        grid-gap: 40px;
        text-align: left;
        grid-template-columns: 200px 1fr;
    }

    .about-banner p{
        width: 70%;
    }

    .summary-info-wrap .container{
        display: grid;
        grid-gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 20px;
    }

    .container{
        width: 100%;
    }

    .what-we-offer p, 
    .our-mission p{
        width: 70%;
    }

    .why-choose-us section, 
    .testimonials section{
        width: 90%;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}


